## Assignment 1 - BA775 (Fall 2022)

Note that this assignment captures topics from classes 3 & 4. You should run your queries in BigQuery or a Vertex AI notebook and submit the answers with your code in the rationale box of Blackboard (under the Assessment tab). 50% of the grade comes from the rationale and the other 50% from the multiple-choice answers.

### Question 1&2

Using the following table (`bigquery-public-data.baseball.schedules`), which baseball game had the biggest attendance in 2016?

In [1]:
%%bigquery
SELECT * FROM `bigquery-public-data.baseball.schedules` LIMIT 5

Query complete after 0.01s: 100%|██████████| 1/1 [00:00<00:00, 895.64query/s]
Downloading: 100%|██████████| 5/5 [00:01<00:00,  2.50rows/s]

,gameId,gameNumber,seasonId,year,type,dayNight,duration,duration_minutes,homeTeamId,homeTeamName,awayTeamId,awayTeamName,startTime,attendance,status,created
0,e14b6493-9e7f-404f-840a-8a680cc364bf,1,565de4be-dc80-4849-a7e1-54bc79156cc8,2016,REG,D,3:07,187,03556285-bdbb-4576-a06d-42f71f46ddc5,Marlins,55714da8-fcaf-4574-8443-59bfb511a524,Cubs,2016-06-26 17:10:00+00:00,27318,closed,2016-10-06 06:25:15+00:00
1,1f32b347-cbcb-4c31-a145-0e685306d168,1,565de4be-dc80-4849-a7e1-54bc79156cc8,2016,REG,D,3:09,189,03556285-bdbb-4576-a06d-42f71f46ddc5,Marlins,55714da8-fcaf-4574-8443-59bfb511a524,Cubs,2016-06-25 20:10:00+00:00,29457,closed,2016-10-06 06:25:15+00:00
2,0c2292d1-7398-48be-bf8e-b41dad5e1a43,1,565de4be-dc80-4849-a7e1-54bc79156cc8,2016,REG,D,2:45,165,12079497-e414-450a-8bf2-29f91de646bf,Braves,55714da8-fcaf-4574-8443-59bfb511a524,Cubs,2016-06-11 20:10:00+00:00,43114,closed,2016-10-06 06:25:15+00:00
3,8fbec734-a15a-42ab-8d51-60790de7750b,1,565de4be-dc80-4849-a7e1-54bc79156cc8,2016,REG,D,3:42,222,12079497-e414-450a-8bf2-29f91de646bf,Braves,55714da8-fcaf-4574-8443-59bfb511a524,Cubs,2016-06-12 17:35:00+00:00,31625,closed,2016-10-06 06:25:15+00:00
4,89e514d5-fbf5-4b9d-bdac-6ca45bfd18dd,1,565de4be-dc80-4849-a7e1-54bc79156cc8,2016,REG,D,2:44,164,2142e1ba-3b40-445c-b8bb-f1f8b1054220,Phillies,55714da8-fcaf-4574-8443-59bfb511a524,Cubs,2016-06-08 17:05:00+00:00,28650,closed,2016-10-06 06:25:15+00:00

In [1]:
# Your answer goes here

### Question 3&4

In 2016, which team played the longest games at home on average?

Hint: You will need to take the average `duration_minutes` for each `homeTeamName`. This can be achieved by a `GROUP BY` and then an `ORDER BY`.

In [2]:
# Your answer goes here

---
---
The remaining questions refer to table `bigquery-public-data.austin_bikeshare.bikeshare_trips`.

In [6]:
%%bigquery
SELECT * FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` LIMIT 5

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 820.64query/s]
Downloading: 100%|██████████| 5/5 [00:01<00:00,  3.47rows/s]

,trip_id,subscriber_type,bikeid,start_time,start_station_id,start_station_name,end_station_id,end_station_name,duration_minutes
0,9900285908,Annual Membership (Austin B-cycle),400,2014-10-26 14:12:00+00:00,2823,Capital Metro HQ - East 5th at Broadway,2544,East 6th & Pedernales St.,10
1,9900289692,Walk Up,248,2015-10-02 21:12:01+00:00,1006,Zilker Park West,1008,Nueces @ 3rd,39
2,9900285987,24-Hour Kiosk (Austin B-cycle),446,2014-10-26 15:12:00+00:00,2712,Toomey Rd @ South Lamar,2712,Toomey Rd @ South Lamar,31
3,9900285989,24-Hour Kiosk (Austin B-cycle),203,2014-10-26 15:12:00+00:00,2712,Toomey Rd @ South Lamar,2712,Toomey Rd @ South Lamar,31
4,9900285991,24-Hour Kiosk (Austin B-cycle),101,2014-10-26 15:12:00+00:00,2712,Toomey Rd @ South Lamar,2712,Toomey Rd @ South Lamar,30

### Question 5&6

How many distinct and valid station IDs are in this table? Valid station IDs are integer numbers.

**Note1:** notice that we are looking for valid station IDs, meaning that any station ID that is missing (is null) should be excluded.

**Note2:** the question doesn't specify `start_station_id` or `end_station_id` and refers to all the station IDs. You would need to use a UNION to merge them all.

**Note3:** `start_station_id` is listed as INT but `end_station_id` is STR. To do a UNION, you must have all of the columns in the same format and the same data type. Convert `start_station_id` to STR: I.e, `CAST(start_station_id AS STRING)`

**Hint:** some records have `end_station_id` as `'Event'`. Since these do not qualify as valid station IDs we will have to exclude them.

In [7]:
# Your answer goes here

### Question 7&8
Which station has the highest number of trips that start from and end at that station?

In [8]:
# Your answer goes here

### Question 9&10
Which station is the most popular destination?

In [9]:
# Your answer goes here

### Question 11&12
How many different types of subscribers appear in this dataset?

In [10]:
# Your answer goes here

### Question 13&14
Which one is by far the most popular subscriber plan?

In [11]:
# Your answer goes here

### Question 15&16
How many bike rides are in this dataset?

In [12]:
# Your answer goes here

### Question 17&18
Which month was the busiest month in 2021?

Hint: Use the EXTRACT function to extract the date components. For more help, go to the documentation: https://cloud.google.com/bigquery/docs/reference/standard-sql/date_functions

In [13]:
# Your answer goes here